{{> layout/header}}

<!-- Your HTML here -->
<p>Welcome to markdisciullo.com, off you go!</p>

<section class="row">
  <article class="small-12 large-3">3</article>
  <article class="small-12 large-3">3</article>
  <article class="small-12 large-3">3</article>
  <article class="small-12 large-3">aside</article>
</section>


<section class="row">
  <article class="small-12 large-3">3</article>
  <article class="small-12 large-9">9</article>
</section>

<section>
  <aside>What is it about?</aside>
  <article>Neat is an open source semantic grid framework built on top of Sass and Bourbon…</article>
</section>

{{> layout/footer}}
